.wrapperHeader {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.046);
}
.header {
  margin: auto;
  padding-right: 24px;
  padding-left: 16px;
  max-width: 1500px;
  width: 100%;
  display: flex;
  // height: 100%;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.logo {
  display: flex;
  align-items: center;
  h1 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 35px;
    text-shadow: 1px 1px 1px #ec3e3c, -1px -1px 1px #61ebea;
  }
}
.enterBtn {
  cursor: pointer;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(254, 44, 85);
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
