@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src: url("/fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: url("/fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("/fonts/ProximaNova-Bold.otf");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1 1 0;
  margin: auto;
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 16px;
  max-width: 1500px;
  width: 100%;
  color: #000000;
  h2 {
    text-align: center;
  }
}
