.post {
  position: relative;
  margin: 50px auto;
  width: 405px;
  height: 723px;
  background-color: black;
}
.info {
  position: absolute;
  left: 4%;
  width: 92%;
  bottom: 3px;
  height: 100px;
  font-family: "Proxima Nova";
  font-weight: 400;
  line-height: 1.7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  .music {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    .svg {
      width: 15px;
      height: 25px;
    }
    p {
      text-transform: capitalize;
    }
    &:hover {
      cursor: help;
      transform: scale(0.99);
      color: #fe2c55;
      .svg {
        fill: #fe2c55;
      }
    }
  }
  .title {
    cursor: default;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 12px;
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
  }
}
