.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.one {
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #61ebea;
}

.two {
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid rgb(254, 44, 85);
}

.three {
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #fff;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
