.video {
  position: relative;
  margin: auto;
}
.startStopVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: none;
  transform: translate(-50%, -50%);
}
.progress {
  margin: auto;
  background-color: #1ca0ff;
  width: 405px;
  height: 3px;
  div {
    background-color: red;
    height: 3px;
  }
}
